# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
/vi-users-reg-1x-fy/node_modules
/users-regs-main-fasty/node_modules
/users-regs-main-fasty/.env
.env
/vi-users-reg-1x-fy/.env
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# System files
.DS_Store
Thumbs.db
