.card-primary {
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.38) -17.54%,
    rgba(0, 0, 0, 0.38) 114.47%
  );
  padding: 20px 35px;
  border: 1px solid rgba(255, 255, 255, 0.735);
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3), 0px 0px 40px #14a1ff8e;
  backdrop-filter: blur(3px);
}
.card-regular-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card-regular {
  background: linear-gradient(180deg, #14a0ff -17.54%, #14a1ff8e 114.47%);
  border-radius: 20px;
  width: 100%;
  padding: 20px;
}
