.faq {
  background: var(--bg-main);
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}
.faq .container {
  position: relative;
  z-index: 111;
}
.collapse-item {
  padding: 10px 5px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
.collapse-item .collapse-title {
  border-radius: 14px;
  background: #ffd700;
  padding: 15px;
  transition: 0.5s ease;
  /* text-align: left; */
}
.collapse-item.open .collapse-title {
  border-radius: 20px 20px 0px 0px;
}
.faq .text {
  color: #000;
}
.collapse-text {
  background: var(--bg-secondary);
  color: #000;
  border-radius: 0px 0px 31px 31px;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease;
  padding: 0 30px;
}
.open .collapse-text {
  height: auto;
  padding: 15px 30px;
}
.arrow-icon {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
/* .arrow-icon svg {
  fill: #000;
} */
.open .arrow-icon {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}
