/* Общие стили для попапов */
.shake {
  animation: shake 0.5s ease-in-out;
}
/* Стили для error-message (если они не определены) */
.error-message {
  color: red;
  font-size: 15px;
  margin-top: 0;
  display: block;
  padding-bottom: 6px;
}

.popup.popup-xl {
  max-width: 800px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px;
}

.popup.popup-xl .popup-content p {
  font-size: 18px;
}
.popup.popup-xl .popup-content {
  height: 100%;
  overflow-y: auto;
}

/* Остальные стили для кнопки и попапа */
/* .submit-btn {
  width: 70%;
  padding: 23px 36px;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(180deg, #a1dfff, #a1e0ff7c);
  border: 4px solid #a1dfff;
  border-radius: 56px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
} */

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submit-btn:hover {
  background: linear-gradient(90deg, #2980b9, #3498db);
  transform: translateY(-2px);
  box-shadow: 0 0 25px #f3f3f6, 0 0 55px #f3f3f6, 0 0 85px #f3f3f6;
  transition: all 0.3s ease-in;
}

.btn-icon {
  display: inline-block;
  animation: rotate180 3s ease-in-out infinite alternate;
}

/* Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background 0.3s ease;
  /* Скрываем по умолчанию */
  visibility: hidden;
  opacity: 0;
}

.popup-overlay.visible {
  /* Показываем, когда Vue добавляет класс */
  visibility: visible;
  opacity: 1;
}
.popup-w {
  animation: popupFadeIn 0.3s ease-in;
}
.popup {
  background: linear-gradient(180deg, #2f82dbb1, #09b4e4);
  /* border: 4px solid #a1dfff; */
  border-radius: 24px;
  padding: 30px;
  width: 96%;
  max-width: 400px;
  margin: 0 auto;
  /* max-width: 400px; */
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
.popup-overlay.success-overlay {
  background: rgba(78, 142, 105, 0.5);
}
.close-icon {
  position: absolute;
  top: -10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  width: 50px;
  height: 50px;
  z-index: 1;
  right: -4px;
  top: -22px;
  background: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
}
.close-icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.popup-title {
  font-size: 24px;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 5px;
}
.after-popup.popup {
  background: linear-gradient(180deg, #2ecc71, #27ae607c);
  border: 4px solid #2ecc71;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  .popup-title {
    color: #ffffff !important;
    font-size: 18px;
    padding-top: 10px;
  }
}
.after-failure-popup.popup {
  background: linear-gradient(180deg, #cc2e2eb9, #cc2e2e7c);
  border: 4px solid #cc2e2eb9;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff !important;

  .popup-title {
    color: #ffffff !important;
    font-size: 18px;
    padding-top: 10px;
  }
}
.popup-message {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 0;
}

.popup-code {
  font-size: 24px;
  font-weight: 600;
  color: #3498db;
  background: #ffffff;
  padding: 10px 20px;
  margin: 15px 0;
  display: inline-block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.popup-btn {
  width: 100%;
  padding: 20px 12px;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(90deg, #3498db, #2980b9);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.popup-btn:hover {
  background: linear-gradient(90deg, #2980b9, #3498db);
  transform: translateY(-2px);
}

/* .popup
  input:not(
    [type="checkbox"],
    [type="radio"],
    [type="submit"],
    [type="color"],
    [type="button"],
    [type="reset"]
  ):focus,
.popup select:focus,
.popup textarea:focus,
.popup textarea[type="text"]:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0px transparent;
  box-shadow: 0 0 0px transparent;
  outline: none;
} */

/** sweet pop */

.swal2-html-container {
  display: block !important; /* Принудительно показываем контейнер */
}
div:where(.swal2-container).swal2-center > .swal2-popup {
  grid-column: 2;
  grid-row: 2;
  place-self: center center;
  background: transparent;
}
div:where(.swal2-container) div:where(.swal2-html-container) {
  padding: 0 !important;
}
div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgba(0, 0, 0, 0.75) !important;
  backdrop-filter: blur(5px) !important;
}
div:where(.swal2-container).swal2-top,
div:where(.swal2-container).swal2-center,
div:where(.swal2-container).swal2-bottom {
  padding: 0 !important;
}

.swal2-html-container {
  width: 100% !important;
  padding: 50px 0 !important;
  color: white !important;
}
div:where(.swal2-container).swal2-center > .swal2-popup {
  width: 100% !important;
}

.swal2-icon.swal2-icon-show,
.swal2-actions {
  position: absolute !important;
  visibility: hidden !important;
}
.swal2-title {
  color: #f3f3f6 !important;
  font-weight: 600 !important;
}

.code-popup{
  position: fixed;
	z-index: 11111;
	left: 0;
	top: 0;
	background: linear-gradient(45deg, black, transparent);
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
}

.code-popup-item{
  max-width: 350px;
	width: 100%;
}

.code-popup .form::after {
	position: absolute;
	left: -30%;
	top: -55%;
	background-image: url(../img/pg-1/form-decor.png);
	content: '';
	width: 150px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -1;
}
.after-poppup-success{
  position: fixed;
	z-index: 11111;
	left: 0;
	top: 0;
  background: linear-gradient(0deg, #2ecc70cf, #27ae5f1c);
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
}
.btn-after-popup{
	width: fit-content;
	padding: 5px 50px;
	border: 1px solid #ffffff;
	border-radius: 30px;
	cursor: pointer;
	background: #2ecc70cf;
	font-size: 37px;
}
.after-poppup-error{
  position: fixed;
	z-index: 11111;
	left: 0;
	top: 0;
  background: linear-gradient(0deg, #cc2e2e84, #cc2e2e14);
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
}
.btn-after-popup.btn-error{
  background: #cc2e2eb9;
}






/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8; }
  
  .mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }
  
  .mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box; }
  
  .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  
  .mfp-align-top .mfp-container:before {
    display: none; }
  
  .mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }
  
  .mfp-inline-holder .mfp-content,
  .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }
  
  .mfp-ajax-cur {
    cursor: progress; }
  
  .mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }
  
  .mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }
  
  .mfp-auto-cursor .mfp-content {
    cursor: auto; }
  
  .mfp-close,
  .mfp-arrow,
  .mfp-preloader,
  .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  
  .mfp-loading.mfp-figure {
    display: none; }
  
  .mfp-hide {
    display: none !important; }
  
  .mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
    .mfp-preloader a {
      color: #CCC; }
      .mfp-preloader a:hover {
        color: #FFF; }
  
  .mfp-s-ready .mfp-preloader {
    display: none; }
  
  .mfp-s-error .mfp-content {
    display: none; }
  
  button.mfp-close,
  button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  .mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
    .mfp-close:hover,
    .mfp-close:focus {
      opacity: 1; }
    .mfp-close:active {
      top: 1px; }
  
  .mfp-close-btn-in .mfp-close {
    color: #333; }
  
  .mfp-image-holder .mfp-close,
  .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }
  
  .mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap; }
  
  .mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent; }
    .mfp-arrow:active {
      margin-top: -54px; }
    .mfp-arrow:hover,
    .mfp-arrow:focus {
      opacity: 1; }
    .mfp-arrow:before,
    .mfp-arrow:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 35px;
      margin-left: 35px;
      border: medium inset transparent; }
    .mfp-arrow:after {
      border-top-width: 13px;
      border-bottom-width: 13px;
      top: 8px; }
    .mfp-arrow:before {
      border-top-width: 21px;
      border-bottom-width: 21px;
      opacity: 0.7; }
  
  .mfp-arrow-left {
    left: 0; }
    .mfp-arrow-left:after {
      border-right: 17px solid #FFF;
      margin-left: 31px; }
    .mfp-arrow-left:before {
      margin-left: 25px;
      border-right: 27px solid #3F3F3F; }
  
  .mfp-arrow-right {
    right: 0; }
    .mfp-arrow-right:after {
      border-left: 17px solid #FFF;
      margin-left: 39px; }
    .mfp-arrow-right:before {
      border-left: 27px solid #3F3F3F; }
  
  .mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }
    .mfp-iframe-holder .mfp-content {
      line-height: 0;
      width: 100%;
      max-width: 900px; }
    .mfp-iframe-holder .mfp-close {
      top: -40px; }
  
  .mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }
    .mfp-iframe-scaler iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      background: #000; }
  
  /* Main image in popup */
  img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }
  
  /* The shadow behind the image */
  .mfp-figure {
    line-height: 0; }
    .mfp-figure:after {
      content: '';
      position: absolute;
      left: 0;
      top: 40px;
      bottom: 40px;
      display: block;
      right: 0;
      width: auto;
      height: auto;
      z-index: -1;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      background: #444; }
    .mfp-figure small {
      color: #BDBDBD;
      display: block;
      font-size: 12px;
      line-height: 14px; }
    .mfp-figure figure {
      margin: 0; }
  
  .mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }
  
  .mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px; }
  
  .mfp-image-holder .mfp-content {
    max-width: 100%; }
  
  .mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }
  
  @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder {
      padding-left: 0;
      padding-right: 0; }
    .mfp-img-mobile img.mfp-img {
      padding: 0; }
    .mfp-img-mobile .mfp-figure:after {
      top: 0;
      bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
      display: inline;
      margin-left: 5px; }
    .mfp-img-mobile .mfp-bottom-bar {
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      margin: 0;
      top: auto;
      padding: 3px 5px;
      position: fixed;
      box-sizing: border-box; }
      .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0; }
    .mfp-img-mobile .mfp-counter {
      right: 5px;
      top: 3px; }
    .mfp-img-mobile .mfp-close {
      top: 0;
      right: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      text-align: center;
      padding: 0; } }
  
  @media all and (max-width: 900px) {
    .mfp-arrow {
      -webkit-transform: scale(0.75);
      transform: scale(0.75); }
    .mfp-arrow-left {
      -webkit-transform-origin: 0;
      transform-origin: 0; }
    .mfp-arrow-right {
      -webkit-transform-origin: 100%;
      transform-origin: 100%; }
    .mfp-container {
      padding-left: 6px;
      padding-right: 6px; } }

      

