@import "_base.css";
@import "_grid.css";
@import "_form.css";
@import "_nav.css";
@import "_card.css";
@import "_tab.css";
@import "_tag.css";
@import "_dropdown.css";
@import "_util.css";
@import "_buttons.css";
@import "_hovers.css";
@import "_animations.css";
@import "_global.css";
@import "_collapse.css";
@import "_popups.css";
@import "_slider.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #212121;
}
a {
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
.item-mobile {
  display: none;
}
.logo-box img {
  animation: moveAndRotate 2s linear forwards;
  animation-delay: 1s;
  transform: translateX(110vw) rotate(0deg);
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

.section-banner {
  background-image: url(../img/pg-1/bg1-d.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  width: 100%;
  padding: 50px 0px 30px;
  position: relative;
}

.section-banner .container {
  max-width: 1440px;
  width: 100%;
}
.banner-info {
  margin: 0 auto 0;
  z-index: 2;
  position: relative;
}
.banner-info .title-text {
  color: var(--text-main);
  font-weight: bolder;
}
.btn {
  display: block;
}
.social .container.anim-items {
  position: relative;
}

.button-wrapp {
  margin: 38px 0 0 !important;
}
.agent{
  max-width: 100%;
}
.translate-center{
  left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.form{
  position: relative;
  z-index: 2;
}
.hero{
    display: flex;
	  align-items: flex-start;
    left: -10%;
    top: 0;
}
.hero-agent{
	left: 5%;
	bottom: 20%;
}

@media (max-width: 1440px){
  .gap-xxl{
    gap: 16px !important;
  }
}
@media (max-width: 1024px) {
  .section-banner {
		min-height: 1055px;
	}
  .h1-title {
    font-size: 5vw;
    line-height: 50px;
  }
  .title-text{
    font-size: 5vw;
    line-height: 50px;
  }
  .gap-xxl{
    gap: 20px !important;
  }
  .social-list{
    margin-top: -15px;
  }
  .details-img {
    display: none;
  }
  .container.flex-center-right{
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
   .translateY-center {
    top: auto !important;
    bottom: 0 !important;
    top: 50% !important;
    transform: translateY(15%) !important;
  }
  .hero-img{
    max-width: 75%;
  }
  .translate-center{
		bottom: 0 !important;
		top: auto !important;
		right: 0 !important;
		transform: translate(25%, 15%);
  }
  .hero{
    bottom: -10%;
    top: auto;
    left: -20%;
  }
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .logo {
    max-width: 148px;
  }
  .absolute {
    position: absolute;
  }
  .button-wrapp {
    margin: 20px 0 0 !important;
  }
  .form.tg-list .form-group label {
    font-size: 18px;
  }
  .form.tg-list{
    width: 100%;
    padding: 10px;
  }
  .social-list{
    margin-top: -15px;
  }
  .form.tg-list .form-group {
	width: 100%;
	margin-bottom: 10px;
}
.button-top{
  margin-bottom: 20px !important;
}
  .item-desktop {
    display: none;
  }
  .item-mobile {
    display: flex;
  }
  .items-wrapper-col.gap-50 {
    gap: 30px !important;
  }
  .h1-title {
    font-size: 43px;
    line-height: 0.8;
  }
  .my-xl {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .title-text {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .hero{
    display: flex;
	  align-items: flex-end;
  }
  .hero-agent.translate-center{
    transform: translate(-50%, -0%);
  }
  .agent{
    width: 450px;
    max-width: 100%;
  }
	.hero-agent.translate-center {
		transform: translate(0, 0);
		right: -50% !important;
		bottom: -10% !important;
		left: auto;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		z-index: 0;
	}
  .hero{
    z-index: 1;
  }
  .btn-close {
	padding: 0;
	background: transparent;
	position: absolute;
	right: -40px;
	top: -70px;
	width: fit-content;
	background: transparent;
	width: 50px;
	height: 60px;
}

}
@media screen and (max-width: 500px) {
  .section-banner {
		min-height: 990px;
	}
  .social-list {
    padding: 20px;
  }
  .hero-img {
		max-width: 100%;
	}
  .hero-agent {
	  left: -5%;
	  bottom: 8%;
  }
  .hero{
    bottom: -5%;
    top: auto;
    left: -20%;
  }
  .section-banner {
    padding: 30px 0px 30px;
  }
  .container {
    padding: 0 10px;
  }
  .h1-title {
    font-size: 35px;
  }
  .popup-wrapper h2{
      font-size: 10vw !important;
  }
  .popup-wrapper p{
      font-size: 8vw !important;
      line-height: 1.2;
  }

  .code-popup .form::after {
    position: absolute;
    left: -20%;
    top: -50%;
    background-image: url(../img/pg-1/form-decor.png);
    content: '';
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: -1;
  }
  .btn-close {
    right: -9vw;
    top: -45px;
  }
  @keyframes floatingX {
  0% {
    -webkit-transform: translateX(-5vw);
    transform: translateX(-5vw);
    opacity: .1;

  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  
  }
}
@media screen and (max-width: 390px) {
  .title-text{
    padding-bottom: 0 !important;
  }
  .h1-title{
    padding-bottom: 15px !important;
  }
}
.skeleton{
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 111111111;
  background-image: url(../img/pg-1/bg1-d.jpg);
  left: 0;
  top: 0;
}
@keyframes rotate90-smooth {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes scaleed {
  0% {
    transform: scale(0.9); /* Начальный размер */
  }
  100% {
    transform: scale(1); /* Возвращаем к начальному размеру */
  }
}
@keyframes rotate90 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes scaleed {
  0% {
    transform: scale(0.9); /* Начальный размер */
  }
  100% {
    transform: scale(1); /* Возвращаем к начальному размеру */
  }
}
@keyframes moveAndRotate {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes moveLight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }
  21% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveLight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }
  21% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes lights {
  50% {
    opacity: 1;
  }
}
@keyframes lights {
  50% {
    opacity: 1;
  }
}
